body{
    /* background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 100%); */
    color: black; 
    background-color: #FFF6E0;
    font-family: "Sofia", sans-serif;
    }
    
a {
    color: #D4B2FF;
    }

div {
    text-align: center;
}





